/*
	Typography ~ Blender CSS.
	Typography style sheet
	
	Thanks to Mark Boulton for the ratios to correctly indicate font size hierarchy.
	
	Given a 12px font as body copy and the baseline for the sites the sites Typography will work aas follows:
	50%(6px), 66%(8px), 75%(9px), 83%(10px), 91%(11px), 116%(14px), 150%(20px), 200%(24px), 250%(30px), 300%(36px), 400%(48px), 500%(60px), 600%(72px)
	
	or...
	
	You can set the base to be 10px and use EMs to set your font size. So that would be:
	
	body {font-size:62.5%} This gives you a font base of roughly 10px.
	
	This now make everything divisable by 10. so:
	.6em(6px), .8em(8px), .9em(9px), 1.1em(11px), 1.2em(12px), 1.4em(14px), 1.8em(20px), 2.4em(px), 3em(30px), 3.6em(36px), 4.8em(48px), 6em(60px), 7.2em(72px)
		
	Feel free to change based on your ultimate goals.
	
	Or... you can just use pixels ;-)
	
*/

/* =Typography
----------------------------------------------------------------------------*/
body {font-size:14px; color:#808080; font-family:Helvetica, Arial, sans-serif;}

/* =Baseline Grid
----------------------------------------------------------------------------*/
p {margin-bottom:20px; line-height:20px;}

h1, h2, h3 {letter-spacing:-1px;}
h1 {font-size:30px;
	line-height:40px;
	font-weight:bold;
	margin-bottom: 20px;
}

h2 {font-size:24px;
	line-height:30px;
	font-weight:bold;
	margin-bottom: 20px;
}

h3 {font-size:20px;
	line-height:20px;
	font-weight:bold;
	margin-bottom: 20px;
}

h4 {font-size:18px;
	line-height:20px;
	font-weight:bold;
	margin-bottom: 20px;
}

h5 {font-size:inherit;
	font-weight:bold;
	margin:0;
}

ul, ol { margin:0 0 20px 0;}
ul {list-style:disc;}
li {margin:0; padding:0; line-height:20px;}

/* =General
----------------------------------------------------------------------------*/
a {text-decoration:none;}
a:visited {}
a:hover {text-decoration:underline;}

h1.pageTitle {color:#DAC968;}

.sampleList {list-style:none;}
.sample {background:#fff;}

.sampleList li.alt {background:#efefef;}

/* =Custom Font Families
----------------------------------------------------------------------------*/
#helveticalArial{
	font-family:Helvetica, Arial, sans-serif;
}
#arialblackArialblack {
	font-family: "Arial Black", "Arial Black", sans-serif;
}
#impactImpact {
	font-family: Impact, sans-serif;
}
#lucidagrandeLucidaSansUnicode {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#genevaTahoma {
	font-family: Geneva, Tahoma, sans-serif;
}
#trebuchetMSArial {
	font-family: "Trebuchet MS", Arial sans-serif;
}
#verdenaVerdena {
	font-family: Verdana, sans-serif;
}
#genevaMSSansSerif {
	font-family: Geneva, "MS Sans Serif", sans-serif;
}
#georgiaGeorgia {
	font-family: Georgia, serif;
}
#palatinoPalatino {
	font-family: Palatio, serif;
}
#timesTimesNewRoman {
	font-family: Times, "Times New Roman", serif;
}
#newyorkMSSerif {
	font-family: "New York", "MS Serif", serif;
}
#couriernewCourierNew {
	font-family: "Courier New", monospace;
}
#monacoLucidaConsole {
	font-family: Monaco, "Lucida Console", monospace;
}
#comicsansComicSans {
	font-family: "Comic Sans", cursive;
}
#symbolSymbol {
	font-family: Symbol;
}
#webdingsWebdings {
	font-family: Webdings;
}
#dingbatsDingbats {
	font-family: "Zapf Dingbats", Wingdings;
}

h3.sectionHeader {border-bottom:1px dotted #ccc; margin-bottom:19px; color:#ccc; position:relative;}
h4.sampleType {font-family: Helvetica, Arial, sans-serif; color:#000;}
.top {font-family: Helvetica, Arial, sans-serif; font-variant:small-caps;}
#col3 ul {list-style:none;}
